@charset utf-8;
* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    vertical-align:top;
}
/**英文两端对齐**/
/*text-align:justify;text-justify:newspaper*/
/**中文两端对齐**/
/*text-align:justify; text-justify:inter-ideograph*/
body {
    font-size: 12px;
    font-weight: normal;
    font-family: "microsoft yahei","微软雅黑";
    -webkit-text-size-adjust: 100%;
}
table{border-collapse: collapse;}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
a:link,
a:hover,
a:focus {
  text-decoration: none;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
li {
    list-style: none;
}
h1,h2,h3,h4,h5,h6{font-weight: normal;font-size: 12px;}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{display: block;}